{% extends 'includes/layout.html' %}


{% block body %}
<main class="container">
  <div class="bg-light p-5 rounded mt-5">
    <h1> ✉️ Blockchain History & Information ✉️ ️</h1>
    <p class="lead">
     Get the blockchain and history information for any blockchain
    </p>

    <h2>Enter the blockchain you wish to know more about</h2>

    <form class="" action="/block-history" method="post">

      <div class="mb-3">
        <label class="form-label">Blockchain Providers</label>
        <input type="text" class="form-control" name="blockHistory" placeholder="eg. Bitcoin, Tron, Binance">
        <div class="form-text">Enter which blockchain you want more information about</div>
      </div>

      <button type="submit" class="btn btn-primary btn-lg"> 💃 GET HISTORY</button>

    </form>
  </div>


  <div class="p-3 rounded">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="text-primary">{{prompt}}</h3>
        <p class="lead">{{openAIAnswer}}</p>

      </div>
    </div>
  </div>
</main>
{% endblock %}
