{% extends 'includes/layout.html' %}




{% block body %}
<main class="container">
  <div class="bg-light p-5 rounded mt-5">
    <h1>🛍️ Generate an analysis for a Cryptocurrency 🛍 ️</h1>
    <p class="lead">
      Generate a market trend for any type of Cryptocurrency, simply enter the name of the currency to get started.
    </p>

    <h2>Enter a cryptocurrency to find market trends</h2>

    <form class="" action="/product-description" method="post">

      <div class="mb-3">
        <label class="form-label">Cryptocurrency to analyze</label>
        <input type="text" class="form-control" name="productDescription" placeholder="eg. Bitcoin, XRP, ETH, USD">
        <div class="form-text">Enter the title of the Product you would like to receive a description for.</div>
      </div>

      <button type="submit" class="btn btn-primary btn-lg" > 💃 GET TREND</button>

    </form>
  </div>


  <div class="p-3 rounded">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="text-primary">{{prompt}}</h3>
        <p class="lead">{{openAIAnswer}}</p>


      </div>
    </div>
  </div>

</main>




{% endblock %}
